<table>
	<tr>
		<th>Nome</th>
		<th>Data de Nascimento</th>
		<th>E-mail</th>
		<th>IE/RG</th>
		<th>CPF/CNPJ</th>
		<th>Telefone</th>
		<th>Rua</th>
		<th>Bairro</th>
		<th>Cidade</th>
		<th>Estado</th>
		<th>CEP</th>
	</tr>
	{{#data}}
	<tr>
		<th>{{nome}}</th>
		<th>{{nascimento}}</th>
		<th{{email}}</th>
		<th>{{ie_rg}}</th>
		<th>{{cpf_cnpj}}</th>
		<th>{{telefone}}</th>
		<th>{{rua}}</th>
		<th{{bairro}}</th>
		<th>{{cidade}}</th>
		<th>{{estado}}</th>
		<th{{cep}}</th>
	</tr>
	{{/data}}
</table>

